<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="airslip" value="https://pkgs.dev.azure.com/tmcdonough0376/_packaging/airslip/nuget/v3/index.json" />
  </packageSources>
  <apikeys>
    <add key="airslip" value="oy2ctdd2324ev65tdzjawddbygj3b4tu3lyl7z3vr44bay" />
  </apikeys>
</configuration>